@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
}
html {
  font-family: "Rubik", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #333;

  position: relative;
}
